*{
  box-sizing: border-box;
  position: relative;
  font-weight: bold;

}
.class::before{
font-family: sans-serif;
}
body{
  background: mediumaquamarine;
}
#link{
  width: 400px;
  margin: 100px auto;
}
.link{
  background:#165975 ;
  width:400px ;
  height: 60px;
  box-shadow: 1em 0px;
  cursor: pointer;
  display: block;
}
.link span{
  display: block;
  width: 80px;
  height: 60px;
  background: #eee;
  float: left;
  font-size: 2.5em;
  line-height:1.5em ;
  margin: -1.48em auto;
  text-align: center;
  z-index: 2;
  box-shadow: 5em 0px;
  transform: rotate(0deg);
  transition: z-index 0s;
}
.link p:before{
  content:'';
  position:absolute;
  z-index:1;
  display:block;
  width:20px;
  height:20px;
  margin:1em -1.7em;
 background:$color-epsilon;
transform:rotate(-45deg);
  opacity:0;
}
.link p{
  font-size:1.4em;
  width:300px; 
  display:block;
  float:left;
  padding-left:5em;
  padding-top:0;
  margin:0;
  line-height:2.7;
  color: #161616;;
  font-family:helvetica;
  transition: 0s;
}
.link:hover{
  background:$color-zeta;
   box-shadow:;
   padding-right:1em;
   span{
     color:$color-zeta;
    box-shadow:.5em 0px $color-alpha;
     z-index:0;
   }
   p{
     padding-left:6em;
     
     color:#ecf0f1;
     &:before{
       background:$color-alpha;
       margin:1em -2.7em;
         opacity:1
       }
    }
 }
 
 
 .link:nth-child(2):hover{
  background:$color-zeta-2;
   box-shadow:1em 0px  $color-alpha-2,inset 0 1px 0 $shade-1;
   span{
     color:$color-zeta-2;
    box-shadow:.5em 0px $color-alpha-2;
   }
   p:before{
       background:$color-alpha-2;
       }
 }
 .link:nth-child(3):hover{
  background:$color-zeta-3;
   box-shadow:1em 0px  $color-alpha-3,inset 0 1px 0 $shade-1;
   span{
     color:$color-zeta-3;
    box-shadow:.5em 0px $color-alpha-3;
   }
   p:before{
       background:$color-alpha-3;
       }
 }
 .link:nth-child(4):hover{
  background:$color-zeta-4;
   box-shadow:1em 0px  $color-alpha-4,inset 0 1px 0 $shade-1;
   span{
     color:$color-zeta-4;
    box-shadow:.5em 0px $color-alpha-4;
   }
   p:before{
       background:$color-alpha-4;
       }
 }
 .link:nth-child(5):hover{
  background:$color-zeta-5;
   box-shadow:1em 0px  $color-alpha-5,inset 0 1px 0 $shade-1;
   span{
     color:$color-zeta-5;
    box-shadow:.5em 0px $color-alpha-5;
   }
   p:before{
       background:$color-alpha-5;
       }
 }
